# Gradle / Android
.gradle/
build/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json
*.hprof

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# IntelliJ / Android Studio
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Node / JS
node_modules/
.metro-health-check*
dist/
web-build/
*.tsbuildinfo

# Expo
.expo/
expo-env.d.ts

# Native generated / local artifacts
.kotlin/
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# Environment / local config
.env*.local
google-services.json

# macOS
.DS_Store
*.pem

# Generated native folders for Expo prebuild
/android
/ios
